*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    min-width: 1000px;
    width: 100%;
    font-size: 16px;
    background-size: cover;
    position: relative;
    background-position: center;
}

#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 70vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {  /*/ The control of photos background for first part jquery/*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slide1 {       /*/ First part for photos jqury/*/
  background-image: url("https://images.pexels.com/photos/2774566/pexels-photo-2774566.jpeg");
}
.slide2 {
  background-image: url("https://images.pexels.com/photos/356065/pexels-photo-356065.jpeg");
}
.slide3 {
  background-image: url("https://images.pexels.com/photos/301988/pexels-photo-301988.jpeg?");
}

.slide-content {     /*/ This part for the text for the jqury/*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {   /*/ jqury size and modify text first part/*/
  font-size: 4rem;
  color: #ffecb3;
}

.arrow {     /*/ This part for the the click to move next page Firstpart/*/
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {    /*/ BUTTON left/*/
  border-width: 30px 40px 30px 0;
  border-color: transparent #ffcc66 transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {  /*/ button rifght /*/
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #ffcc66;
  right: 0;
  margin-right: 30px;
}


#header_container{  /*/ The header part navigation /*/
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 78px;
  z-index: +1;
}

#logo{   /*/ logo part  /*/
  position: absolute;
  top: 10px;
  left: 30px;
  width:65px;
  height:65px;
}

#navbar{
    margin: 0 auto;
}

.listD{  /*/ the header navig part the programs and... possition /*/
  position: relative;
  display: inline;
  top: 30px;
  left: 220px;
  padding: 8px;   /*/ right or left moving..../*/
}


.linkD{   /*/ the color and font and ..... header navigation /*/
  text-decoration: none;
  color: rgba(255, 217, 105, 0.9);
  padding: 7px 7px;
  border-radius: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.20s ease;
}

.linkD:hover{             /*/?????????/*/
  transition: 0.35s;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 7px 7px;
  color: black;
  background-color: rgba(255, 217, 105, 0.9);
  border-radius: 15px;
}


.Introduction{   /*/Part2 introduction text modifater /*/
  text-align: center;
  color: #ffecb3;
  border-color: #ffecb3;
  border: 3px solid #ffecb3;
  border-style: groove;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0,0,0,0.5);
  padding: 40px 60px;  /*/ the box modify/*/
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  letter-spacing: 1px;
  text-align: left;
}


.Title{     /*/ removed/*/
  color: black;
  text-align: center;
}


.video{  /*/ removed/*/
  text-align: left;
}


.video_container{

}

.video{   /*/ video part4 /*/
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
  border: 3px outset #ffcc66;
}



.introbg{     /*/ part2 background editer /*/
  position: relative;
  background: url("../images/Lastt.jpg") no-repeat top center;
  background-size:cover;
  height: 380px;
  background-position: center;
}


.upcoming{      /*/ part2 background editer /*/
  position: relative;
  background: url("../images/Lastt.jpg") no-repeat top center;
  background-size: cover;
  height: 500px;
  background-position: center;

}


.container3{   /*/ part3 up coming... setting/*/
  border: 3px solid white;
  display: inline-block;
  position: relative;
  width: 30%;
  height: 50%;
  border-style: groove;
  border-color: #ffecb3;
  margin: 0 130px;
}


.header_up{    /*/ The box of up coming ..... part3/*/
  position: relative;
  margin: 0 500px;
}

.header_up h2{   /*/ this function for part3 modify the text /*/
  color:  #ffecb3;
  border: 3px solid white;
  border-style: groove;
  text-align: center;
  border-color: #ffecb3;
  border-style: groove;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0,0,0,0.5);
  height: auto;
  margin: 0 auto;

}


.container3:hover .overlay {
   width: 100%;
}


.image{  /*/ images for part 3/*/
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#optext:hover{
  opacity: 1;
}


.overlay{  /*/ overlay that make the movment in part3/*/
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  width: 0;
  height: 100%; /*/ high of the movement/*/
  opacity: 70%; /*/ color shwing/*/
  transition: .5s ease;
}


.text{  /*/ the text that show when the overlay apply/*/
  color: #ffecb3;
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}


.footer{   /*/ part4 footer /*/
  background : url("../images/pp2.jpg");
  background-position: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height:40;
  color: white;
  text-align: center;
  object-fit:cover;
  box-shadow:
}


.footer_box{
  position: relative;
  display: inline-block;
  width: 310px;
  height: 150px;
  text-align: left;

}


.ulh{
  font-size: 20px;
  list-style:none;
  font-weight: bold;
}


.fotlist{
  list-style: none;
  padding-top: 10px;
}


.fotlink{
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}


.copyrights{
  position: relative;
  font-weight: bold;
  left: 70%;
  bottom: 5px;
  width: 30%;
  color: white;
  text-align: center;
}

.copyrights p{
  display: inline;
  padding-left: 15px;
}
